*.class

# Package Files #
*.jar
*.war
*.ear

/.git
/.classpath
/.DS_Store
/.settings
/.project
/.gradle
/bin
/build
/build.gradle
/CREDITS-fml.txt
/eclipse
/forge-1.6.4-9.11.1.964-changelog.txt
/gradlew
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
