*.class

# Package Files #
*.jar
*.war
*.ear

# Forge/Gradle Files #
/.git
/.classpath
/.DS_Store
/.settings
/.project
/.gradle
/bin
/build
/CREDITS-fml.txt
/eclipse
/forge-1.6.4-9.11.1.964-changelog.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
